<mat-toolbar color="primary" *ngIf="navbar.visible">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon *ngIf="drawer.opened">arrow_backward</mat-icon>
    <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
  </button>
  <h1 class="display-1">Guidance System</h1>

  <span class="spacer"></span>
  <a class="right" mat-button [routerLink]="''" (click)="logout()">
    <mat-icon>power_settings_new</mat-icon> Logout
  </a>

</mat-toolbar>


<mat-drawer-container>
  <mat-drawer #drawer>
    <mat-nav-list>
      <a mat-list-item (click)="showNavbar()" routerLink="/" style="height: 0;"></a>

      <a mat-list-item (click)="showNavbar()" [routerLink]="'/next'">
        <mat-icon>redo</mat-icon> Next Shop Recommendation
      </a>
      <a mat-list-item (click)="showNavbar()" [routerLink]="'/list'">
        <mat-icon>store</mat-icon> Select Shops
      </a>
      <a mat-list-item (click)="showNavbar()" [routerLink]="'/monitor'">
        <mat-icon>analytics</mat-icon> Current Occupancy
      </a>

      <a mat-list-item (click)="showNavbar()" [routerLink]="'/history'">
        <mat-icon>timeline</mat-icon> History
      </a>

      <mat-divider></mat-divider>

      <button mat-button class="w-100" (click)="toggleDisplays()" matSubheader>Displays </button>


      <div [@showHideDisplays]="showDisplays ? 'open' : 'closed'">
        <a (click)="hideNavbar()" *ngFor="let shop of shops.shop_list | keyvalue" mat-list-item
          routerLink="/display/{{shop.key}}">
          <mat-icon>tv</mat-icon> {{shop.key}}
        </a>
      </div>

      <mat-divider></mat-divider>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>