.container {
    max-width: 500px;
    padding-top: 30px;
}

.accept {
    width: 100%;    
}

mat-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-color: darkgray;
}

.spacer {
    flex: 1 1 auto;
}


