<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="mat-display-1 text-center">Available Shops</h3>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-selection-list #list [(ngModel)]="selectedShops">
                <mat-list-option *ngFor="let shop of shops.shopMap | keyvalue" [value]="shop.value.shop_id">
                    {{shop.value.name}}
                </mat-list-option>
            </mat-selection-list>
        </div>        
    </div>

    <div class="row">
        <div class="col">
            <button class="accept" color="primary" mat-stroked-button (click)="sendShopList()">
                <mat-icon>done</mat-icon>Send Shop List
            </button>
        </div>
    </div>

    <!-- <mat-divider></mat-divider> -->

    


</div>